main {

    display: flex;
    flex-direction: column;
    gap: 5vh;
}

main * {
    color: #0D0D0F;
}

section.collections {
    position: relative;

    overflow: hidden;

    height: clamp(700px, 100vh, 100vh);
    width: 100%;

    background: #0D0D0F;

    transition: 600ms ease;
}


.header_collections {
    font-size: 2.5rem;
    text-align: left;
    color: #E6E6EB;

    margin-left: 5vw;

    transition: 600ms ease;
}

.header_collections * {
    color: #E6E6EB;
}

.header_collections h2 {
    font-size: 2.5rem;
}

.click_me {
    position: absolute;
    top: 15%;
    left: 50%;


    transform: translate(-50%, -60%);

    z-index: 100;
}

.click_me a {
    color: #E6E6EB;
}

.circleAnimation {
    position: absolute;

    height: 340px;
    width: 340px;
    border-radius: 50%;

    background: #E6E6EB;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circleAnimation::after, .empty::after {
    content: "";
    position: absolute;

    display: flex;

    text-align: center;
    align-items: start;
    justify-content: center;

    height: 220px;
    width: 220px;
    border-radius: 50%;

    background: #E6E6EB;
    box-shadow: 9px 9px 17px #7c7c7f,
    -9px -9px 17px #ffffff;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.empty::after {
    width: 235px;
    height: 360px;
    border-radius: 50px;
}

.buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 95%;

    gap: 2vw;

    pointer-events: none;
}

.buttons button {
    width: clamp(50px, 5vw, 5vw);
    height: clamp(50px, 5vw, 5vw);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background: #E6E6EB;


    border: none;
    outline: none;

    pointer-events: all;
}

.previous img {
    transform: rotate(-90deg);
    height: 5vh;
    width: auto;
}

.next img {
    transform: rotate(90deg);
    height: 5vh;
    width: auto;
}

.cards {
    position: absolute;

    left: 50%;
    top: 100%;
    transform: rotate(0) translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 1048px;
    height: 150vh;
}

.card {

    position: absolute;
    top: 50%;
    left: 50%;

    width: 275px;
    height: 400px;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    border-radius: 50px;

    background: #E6E6EB;

}


.card a {

    width: 95%;
    height: 95%;

    display: flex;
    align-items: center;
    justify-content: center;
}


.card img {
    width: 90%;
    height: 90%;
    object-fit: cover;

    border-radius: 50px;
    box-shadow: 9px 9px 17px #7c7c7f,
    -9px -9px 17px #ffffff;
}

.divider {
    top: 25%;
    left: 50%;

    position: absolute;

    width: 90%;
    height: 10px;
    background: aqua;

    transform: translate(-50%, -50%);
}

.card1 {

    transform: translate(-50%, calc(-50% - 450px));
}

.empty1 {
    transform: translate(calc(-50% - 390px), calc(-50% - 224px)) rotate(-1.05rad);
}

.card3 {
    transform: translate(calc(-50% - 390px), calc(-50% + 224px)) rotate(-2.1rad);

}

.empty2 {
    transform: translate(-50%, calc(-50% + 450px)) rotate(-3.15rad);
}

.card2 {
    transform: translate(calc(-50% + 390px), calc(-50% + 224px)) rotate(-4.2rad);
}

.empty3 {
    transform: translate(calc(-50% + 390px), calc(-50% - 224px)) rotate(-5.25rad);
}


.portfolio {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;

    height: clamp(600px, 90vh, 90vh);

    width: 100%;


    background: #E6E6EB;
    border-radius: 50px;
}

section.portfolio h1 {

    font-size: 3.5rem;
    text-align: left;
    color: #0D0D0F;

    margin-left: 5vw;
}

.portfolio ul {
    width: 80%;
    height: 400px;
    padding: 20px;

    overflow-x: scroll;

    display: inline-grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100% / 4); /* TODO change this value in the screen size to make it responsive */

    gap: 20px;
}

.portfolio ul li {
    list-style: none;
}

.portfolio ul li img {
    width: auto;
    height: 350px;
    object-fit: cover;

    border-radius: 50px;
    box-shadow: 9px 9px 17px #7c7c7f,
    -9px -9px 17px #ffffff;
}

.services {
    height: clamp(800px, 90vh, 90vh);
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;


    flex-direction: row;

    gap: 5vw;
}

.services img {
    height: 40%;
    width: auto;
}


.menuServices {
    width: 25vw;
    height: 78%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: #E6E6EB;
    border-radius: 50px;


    padding: 2vh 0;

    gap: 1.25rem;
}

.menuServicesLinks {
    width: 85%;
    height: 10%;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    padding: 0.25rem;

    border-radius: 96px;
    background: #E6E6EB;
    box-shadow: 9px 9px 17px #7c7c7f,
    -9px -9px 17px #ffffff;

}

.servicesInsight {
    width: 55vw;
    height: 80%;

    border-radius: 50px;
    background: #E6E6EB;
}

.servicesInsight section {
    width: 100%;
    height: 100%;

    display: none;
    align-items: center;
}

.servicesInsight section.active {
    display: flex;
}

table {
    width: 90%;
    height: 90%;

    text-align: center;
    border-collapse: collapse;
}


tr, td, th {
    text-align: center;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    font-size: 1.5rem;
}

th:first-child, td:first-child {
    width: 70%; /* Adjust the width as needed */
}


th.aesthetic:first-child, td:first-child {
    width: 80%; /* Adjust the width as needed */
}

sup {
    font-weight: bold;
}
