/* home page */

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.landing-image {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../../../assets/image/home.png");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.landing-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
}

/* Adding logo on top of the image */

.landing-overlay {
    position: absolute;
    background: #E6E7FF77 url("../../../assets/image/logo.png") center/cover no-repeat;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: clamp(500px, 30vw, 1000px);
    width: clamp(500px, 30vw, 1000px);
    z-index: 1;
    border-radius: 100%;

    animation: fadeIn 1.5s ease-in-out;
}

/* Scroll*/


.scroll-arrow {
    font-size: 1.25rem;
    position: absolute;

    top: 92%;
    left: 50%;

    height: 3rem;
    width: 0;

    border: 0.06em solid #0D0D0F;

    z-index: 2;

    transition: ease-in-out 1s;
}

.scroll-arrow:hover {
    height: 1rem;
}

.scroll-arrow::before {
    content: "Défiler";

    font-size: 1.5rem;
    position: absolute;

    letter-spacing: 0.1rem;

    transform: translate(-50%, -110%);

    color: #0D0D0F;
}

/* Card selection */

.services {

    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 10vh;

    overflow: hidden;

    padding-bottom: 10vh;

    height: 70vh;
    width: 100vw;
}

.services h2 {
    flex: 1;

    font-size: 3rem;
}

.services .buttons {

    box-shadow: none;
    margin-bottom: 15px;

}

.services .buttons pre {
    color: #0D0D0F;
}

.cards {
    display: flex;

    align-items: flex-end;
    justify-content: center;

    height: 100%;
    width: 100%;

    gap: 10%;

    flex: 8;

}

.card {
    position: relative;

    flex: 1;
    height: 300px;
    width: clamp(300px, 15vw, 900px);

    border-radius: 25px;

    transition: 800ms ease;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.card1 {
    background: linear-gradient(#9A638B, transparent);
}

.card1::before {
    position: absolute;

    bottom: -15%;
    left: 50%;
    transform: translate(-50%, -50%);

    content: "Esthétique";
    font-size: 1.5rem;
    font-weight: 700;
}

.card2 {
    background: linear-gradient(#6793A7, transparent);
}

.card2::before {
    position: absolute;

    bottom: -15%;
    left: 50%;
    transform: translate(-50%, -50%);

    content: "Coiffure";
    font-size: 1.5rem;
    font-weight: 700;
}


.card3 {
    background: linear-gradient(#E4BBCC, transparent);
}

.card3::before {
    position: absolute;

    bottom: -15%;
    left: 50%;
    transform: translate(-50%, -50%);

    content: "Formation";
    font-size: 1.5rem;
    font-weight: 700;
}

.cardHovered {

    flex: 9;
    width: clamp(900px, 50vw, 1500px);

    height: clamp(500px, 50vh, 900px);

}

.cardHovered .background_cards {
    opacity: 0;
}

.cardHovered .logo {
    opacity: 1;
}

.cardHoveredOthers {
    flex: 1;
    height: 300px;
}

.background_cards {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 25px;

    max-width: 90%;
    max-height: 90%;
    height: auto;
    width: auto;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    transition: 800ms ease;
}

.logo {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 100%;
    max-height: 100%;
    height: auto;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    opacity: 0;
    transition: 800ms ease;
}


/* About section */

.about {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: space-evenly;

    padding-top: 15vh;

    border-radius: 50px;

    min-height: 75vh;
    width: 95vw;

    background: #E6E6EB;
}

.about * {
    color: #0D0D0F;
}

.left-element {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 45%;

    gap: 5vh;
}

.textAbout-wrapper {
    display: flex;
    flex-direction: column;

    gap: 5vh;
}

.textAbout-wrapper pre {
    white-space: pre-wrap;
    text-align: justify;
    width: 40vw;

    font-size: 1.25rem;
}

.a-wrapper {
    display: flex;

    gap: 5vw;
}

.about h1 {
    font-size: 4rem;
    font-weight: 700;
}

.left-element img {
    max-height: 600px;
    max-width: 70%;
    width: auto;
    height: auto;
}

footer {
    margin-top: 2%;
}
