.cursor {
    position: fixed;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #E6E5E3;

    background: #007CA377;

    transform: translate(-50%, -50%);

    transition: 0s;
}

.hovered {
    height: 100px;
    width: 100px;
    mix-blend-mode: difference;

    cursor: pointer;

    transition: 0.5s;
}