.cursor{
    position: fixed;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #E6E5E3;

    background: #007CA377;

    transform: translate(-50%, -50%);

    transition: 0s;
}

a:hover ~ .cursor{
    transform: scale(2.5) translate(-25%, -25%);
}