/* home page */

.landing-image {
    width: 100%;
    height: 100vh;
    background-image: url("../../image/home.png");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    position: relative;
}

.landing-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
}

/* Adding logo on top of the image */

.landing-overlay {
    position: absolute;
    background: #E6E7FF77 url("../../image/logo.png") center/cover no-repeat;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 30rem;
    width: 30rem;
    z-index: 1;
    border-radius: 100%;

    animation: fadeIn 1.5s ease-in-out;
}

/* Scroll*/


.scroll-arrow {
    font-size: 1.25rem;
    position: absolute;

    top: 92%;
    left: 50%;

    height: 3rem;
    width: 0;

    border: 0.06em solid #0D0D0F;

    z-index: 2;

    transition: ease-in-out 1s;
}

.scroll-arrow:hover {
    height: 1rem;
}

.scroll-arrow::before {
    content: "Scroll";

    font-size: 1.5rem;
    position: absolute;

    transform: translate(-50%, -110%);

    color: #0D0D0F;
}

.scroll-arrow

/* Animations */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Card selection */

.cards {

    display: flex;

    height: 110vh;
    width: 100vw;
    box-sizing: border-box;

    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.card {
    display: flex;
    position: relative;

    height: 90vh;
    width: 30vw;
}

.card1 {
    background: url("../../image/cards_home/penny.jpg") no-repeat center;
    background-size: cover;
}

.card:before {
    content: "";

    position: absolute;
    display: block;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 2rem;

    background: #E6E7FF9A;

    height: 100%;
    width: 100%;

    opacity: 0;

    z-index: 1;

    transition: 700ms ease-in-out;
}

.card::after {
    content: "";
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: block;

    height: 60vh;
    width: 100%;

    opacity: 0;
    z-index: 2;

    transition: 0.5s ease-in-out;
}

.card:hover:after {
    opacity: 1;
}

.card:hover:before {
    opacity: 1;
}

.card1::after {
    background: url("../../image/cards_home/penny_logo.PNG") no-repeat center;
    background-size: contain;
}

.card2 {
    background: url("../../image/cards_home/Karine.jpeg") no-repeat center;
    background-size: cover;
}

.card2::after {
    background: url("../../image/logo.png") no-repeat center;
    background-size: contain;
}

.card3 {
    background: url("../../image/cards_home/formation.jpeg") no-repeat center;
    background-size: cover;
}

.card3::after {
    /* TODO add the correct logo for the formation card*/
    background: url("../../image/logo.png") no-repeat center;
    background-size: contain;
}

/* About section */

.about{
    position: relative;
    display: flex;
    align-items: start;
    justify-content: space-evenly;

    padding-top: 15vh;

    height: 85vh;
    width: 100vw;

    background: #E6E6EB;
}

.about *{
    color: #0D0D0F;
}

.left-element{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 45%;

    gap: 5vh;
}

.textAbout-wrapper{
    display: flex;
    flex-direction: column;

    gap: 5vh;
}

.about pre{
    white-space: pre-wrap;
    text-align: justify;
    width: 40vw;

    font-size: 1.25rem;
}

.a-wrapper{
    display: flex;

    gap: 5vw;
}

.a-wrapper a{
    text-decoration: none;
    border-radius: 96px;
    background: #E6E6EB;
    box-shadow:  9px 9px 17px #7c7c7f,
    -9px -9px 17px #ffffff;
    padding: 0.5rem 2rem;
}

.about h1{
    font-size: 4rem;
    font-weight: 700;
}

.effectText{
    display: none;
}

.hoveredButtons{
    display: block;
    position: absolute;
    top: 0;

    height: 100vh;
    width: 100vw;

    z-index: 0;

    pointer-events: none;
}

.hoveredButtons h1{
    text-align: center;
    font-size: 200px;
    font-weight: 700;

    color: #E6E6EB;
}

.left-element img{
    height: auto;
    width: 70%;
}

/* footer */

footer {
    height: 40vh;
    width: 100vw;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
