.menu {

    position: fixed;


    top: 5vh;
    left: 90vw;

    z-index: 1000;
    background: transparent;
    mix-blend-mode: difference;

}

.menu * {
    background: transparent;
}

/* Menu opened layout */



/* Hamburger menu*/

.up-line {
    transform: translate(0, 0);
}

.down-line {
    transform: translate(1rem, 0.7rem);
}

.lines {
    display: inline-block;

    position: fixed;

    height: 0.25rem;
    width: 4rem;
    transition: 0.4s ease-in-out;

    background: #E6E6EB;

    mix-blend-mode: difference;

}

.menu-hit-box {
    display: inline-block;

    position: fixed;

    height: 1rem;
    width: 5rem;
    mix-blend-mode: difference;
}


.menu-hit-box:hover, .menu-hit-box:hover * {
    cursor: none;
}

.menu-hit-box:hover {
    height: 1.2rem;
}

.menu-hit-box:hover .up-line {
    transform: translate(0, -0.3rem);
}

.menu-hit-box:hover .down-line {
    transform: translate(1rem, 1rem);
}

.menu-checkbox {
    display: none;
}

.menu-label {
    font-size: 1.25rem;

}

.menuInvisible {
    display: none;
    visibility: hidden;
}

.menuVisible {
    display: block;
    visibility: visible;

    position: fixed;

    z-index: 3;

    width: 100vw;
    height: 100vh;

    background: #0D0D0F;
}


