.menu{

    position: fixed;


    top: 5vh;
    left: 90vw;

    z-index: 1000;
}


.up-line{
    transform: translate(0, 0);
}

.down-line{
    transform: translate(1rem, 0.7rem);
}

.lines{
    display: inline-block;

    position: fixed;

    height: 0.25rem;
    width: 4rem;
    background: #E6E7FF;

    transition: 0.4s ease-in-out;

}

.menu-hit-box{
    display: inline-block;

    position: fixed;

    height: 1rem;
    width: 5rem;
    background: transparent;
}

.menu-hit-box, .menu-hit-box *{
    pointer-events: auto;
}

.menu-hit-box:hover, .menu-hit-box:hover *{
    cursor: pointer;
}

.menu-hit-box:hover{
    height: 1.2rem;
}

.menu-hit-box:hover .up-line{
    transform: translate(0, -0.3rem);
}

.menu-hit-box:hover .down-line{
    transform: translate(1rem, 1rem);
}

.menu-checkbox{
    display: none;
}

.menu-label{
    font-size: 1.25rem;

}