.menu {

    position: fixed;


    top: 5vh;
    left: 90vw;

    z-index: 1000;
    background: transparent;
    mix-blend-mode: difference;

}

.menu * {
    background: transparent;
}

/* Menu opened layout */

.menuLayout{
    position: fixed;

    top: -100%;
}

.imageMenu{
    position:absolute;
    display: block;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50vw;
    height: auto;

    opacity: 0.9;
}

.imgMenu1{
    -webkit-filter: grayscale(1) invert(0.2);
    filter: grayscale(1) invert(0.2);
}
.imgMenu2{
    -webkit-filter: grayscale(1) invert(0.3);
    filter: grayscale(1) invert(0.3);
}
.imgMenu3{
    -webkit-filter: grayscale(1) invert(0.4);
    filter: grayscale(1) invert(0.4);
}
.imgMenu4{
    -webkit-filter: grayscale(1) invert(0.5);
    filter: grayscale(1) invert(0.5);
}
.imgMenu5{
    -webkit-filter: grayscale(1) invert(0.8);
    filter: grayscale(1) invert(0.8);
}


.contentMenu{
    z-index: 1;
}

.links{
    position: absolute;
    display: grid;
    align-content: center;
    gap: 5%;


    top: 50%;
    left: 5%;
    transform: translate(0, -50%);

    width: auto;
    height: 100%;

    opacity: 0.9;
}

.links a {
    position: relative;
    overflow: hidden;
    display: flex;
    height: 3rem;
    padding: 0 2rem;
    background: #121315;
    background-size: 200%;
    color: #E6E6EB;
    border-radius: 2rem;

    border: none;

    text-align: center;
    justify-content: center;
    align-items: center;
}

.links a:hover::before {
    transform: scaleX(1.5);
}

.links a h3 {
    position: relative;
    z-index: 1;
}

.links a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
            82.3deg,
            #36364410.8%,
            #E0E0E5 94.3%
    );
    transition: all 0.8s;
}

/* Hamburger menu*/

.up-line {
    transform: translate(0, 0);
}

.down-line {
    transform: translate(1rem, 0.7rem);
}

.lines {
    display: inline-block;

    position: fixed;

    height: 0.25rem;
    width: 4rem;
    transition: 0.4s ease-in-out;

    background: #E6E6EB;

    mix-blend-mode: difference;

}

.menu-hit-box {
    display: inline-block;

    position: fixed;

    height: 1rem;
    width: 5rem;
    mix-blend-mode: difference;
}


.menu-hit-box:hover, .menu-hit-box:hover * {
    cursor: none;
}

.menu-hit-box:hover {
    height: 1.2rem;
}

.menu-hit-box:hover .up-line {
    transform: translate(0, -0.3rem);
}

.menu-hit-box:hover .down-line {
    transform: translate(1rem, 1rem);
}

.menu-checkbox {
    display: none;
}

.menu-label {
    font-size: 1.25rem;

}

.menuInvisible {
    display: none;
    visibility: hidden;
}

.menuVisible {
    display: block;
    visibility: visible;

    position: fixed;

    z-index: 3;

    width: 100vw;
    height: 100vh;

    background: #0D0D0F;
}


